<div class="social-bar-wrapper">
  <ul class="social-links">
    <li class="social-link" id="social-link-facebook"><a href="http://www.facebook.com/david.durost"><img src="/images/icons/retro/facebook.png" /></a></li>
    <li class="social-link" id="social-link-twitter"><a href="http://www.twitter.com/ner0tic"><img src="/images/icons/retro/twitter.png" /></a></li>
    <li class="social-link" id="social-link-linkedin"><a href="http://www.linkedin.com/pub/dave-durost/9/261/67"><img src="/images/icons/retro/linkedin.png" /></a></li>
    <li class="social-link" id="social-link-google"><a href="https://plus.google.com/u/0/100549759103761916978"><img src="/images/icons/retro/google.png" /></a></li>
  </ul>
</div>