ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a:link, a:visited
{
  text-decoration: underline;
  color: #C64934;
}

a:hover
{
  text-decoration: underline;
}

body, td
{
  margin: 0;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  background-color: inherit;
  color: #333333;
}

p
{
  margin-bottom: 5px;
}

.footer
{
  text-align: center;
  font-size: 10px;
}

.header{
  height: 38px;
  background-image: url(/images/admin/header.gif);
  background-color: #000000;
  border-bottom: 4px solid #C64934;
}

.nav
{
  padding-left: 5px;
  background-color: #F1F3F5;
  border-bottom: 1px solid #CCCCCC;
}

.subnav {
	height: 52px;
	background-color: #F1F3F5;
	border-bottom: 1px solid #CCCCCC;
}

.subnav .container {
	padding-left: 20px;
	padding-top:20px;
}

.subnav .title {
	font-weight: bold;
	color: #C64934;
}

.floatRight {
	float: right;
	color: #333333;
}

#sf_admin_bar
{
  margin-top: 8px;
  position: absolute;
  right: 20px;
  width: 250px;
}

#sf_admin_content
{
  margin-right: 270px;
}

h1
{
  margin: 8px 0;
  padding: 3px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: #C64934;
  font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
  font-size: 25px;
}

fieldset h2
{
  padding: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-image: url(/images/admin/background.jpg);
  background-color: white;
  font-size: 11px;
}

input, textarea, select
{
  padding: 3px;
  font-family: Arial, sans-serif;
  font-size: 11px;
  border: 1px solid #ddd;
  vertical-align:middle;
}

label
{
  display: block;
  padding: 0 1em 3px 0;
  float: left;
  text-align: left;
  width: 8em;
  color: #666;
  font-weight: normal !important;
}

label.required
{
  color: #333 !important;
  font-weight: bold !important;
}

.save-ok
{
  margin-bottom: 10px;
  border: 1px solid #4579B5;
}

.save-ok h2
{
  margin: 0 !important;
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: white;
  background: #4579B5 url(/sf/images/sf_admin/ok.png) no-repeat 5px 2px !important;
}

.form-row
{
  clear: both;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.form-row .content
{
  padding-left: 9em;
}

.form-errors
{
  margin-bottom: 10px;
  border: 1px solid #f33;
  background-color: #e9eff6;
}

.form-errors h2
{
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #f33 url(/sf/images/sf_admin/error.png) no-repeat 5px 2px !important;
}

.form-errors ul
{
  padding: 5px;
  list-style-type: none;
}

.form-errors li
{
  padding: 5px 20px;
  background: url(/sf/images/sf_admin/error.png) no-repeat 0 2px !important;
}

.form-error
{
  color: #f33;
}

.form-error input, .form-error select, .form-error textarea
{
  border: 1px solid #f33;
}

fieldset
{
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background-color: #fff;
}

fieldset.collapsed * { display:none; }
fieldset.collapsed h2, fieldset.collapsed { display:block !important; }
fieldset.collapsed .collapse-toggle { display: inline !important; }
fieldset.collapse h2 a.collapse-toggle { color:#e9eff6; }
fieldset.collapse h2 a.collapse-toggle:hover { text-decoration:underline; }

.float-left
{
  float: left;
}

.float-right
{
  float: right;
}

ul.sf_admin_td_actions
{
  list-style-type: none;
}

ul.sf_admin_td_actions li
{
  list-style-type: none;
  display: inline;
}

ul.sf_admin_actions
{
  margin: 10px 0;
  list-style-type: none;
  text-align: right;
}

ul.sf_admin_actions a
{
  color: #333;
}

ul.sf_admin_actions li
{
  list-style-type: none;
  display: inline;
}

ul.sf_admin_actions input
{
  padding: 3px 3px 3px 20px;
  color: #333;
  font-size: 11px;
  font-family: Arial, sans-serif;
  border: 0px;
  border-right: 0px solid #999;
  background-color: white;
  cursor: hand;
  cursor: pointer;
}

.sf_admin_action_create
{
  position: absolute;
  top: 69px;
  right: 2px;
  background: url(/images/admin/new_f2.png) no-repeat center 2px !important;
  border: 1px solid #CCCCCC !important;
  height: 50px;
  width: 60px;
  text-align: center;
  padding: 32px 3px 10px 3px !important;
  color: Gray !important;
}

.sf_admin_action_save
{
  position: absolute;
  top: 69px;
  right: 63px;
  background: url(/images/admin/save_f2.png) no-repeat center 2px !important;
  border: 1px solid #CCCCCC !important;
  height: 50px;
  width: 60px;
  text-align: center;
  padding: 32px 3px 10px 3px !important;
  color: Gray !important;
}

.sf_admin_action_save_and_add
{
  position: absolute;
  top: 69px;
  right: 2px;
  background: url(/images/admin/apply_f2.png) no-repeat center 2px !important;
  border: 1px solid #CCCCCC !important;
  height: 50px;
  width: 60px;
  text-align: center;
  padding: 32px 3px 10px 3px !important;
  color: Gray !important;
}

.sf_admin_action_delete
{
  position: absolute;
  top: 69px;
  right: 185px;
  background: url(/images/admin/trash.png) no-repeat center 2px !important;
  border: 1px solid #CCCCCC !important;
  height: 50px;
  width: 60px;
  text-align: center;
  padding: 32px 3px 10px 3px !important;
  color: Gray !important;
}

.sf_admin_action_cancel
{
  position: absolute;
  top: 69px;
  right: 246px;
  background: url(/images/admin/cancel_f2.png) no-repeat center 2px !important;
  border: 1px solid #CCCCCC !important;
  height: 50px;
  width: 60px;
  text-align: center;
  padding: 32px 3px 10px 3px !important;
  color: Gray !important;
}

.sf_admin_action_filter
{
  background: url(/sf/images/sf_admin/filter.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
}

.sf_admin_action_reset_filter
{
  background: url(/sf/images/sf_admin/reset.png) no-repeat 3px 2px;
  border-right: 4px solid #fe9500 !important;
}

.sf_admin_action_list
{
  position: absolute;
  top: 69px;
  right: 124px;
  background: url(/images/admin/paste_f2.png) no-repeat center 2px;
  border: 1px solid #CCCCCC !important;
  height: 50px;
  width: 60px;
  text-align: center;
  padding: 32px 3px 10px 3px !important;
  color: Gray !important;
}

.sf_admin_default_action
{
  background-color: #fc6 !important;
  font-weight: bold !important;
}

.sf_admin_list
{
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: 0px;
  border-right: 0px;
}

.sf_admin_list th
{
  padding: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #000000;
  background-image: url(/images/admin/background.jpg);
  background-color: white;
  text-align: left;
}

.sf_admin_list th a
{
  color: #000000;
}

.sf_admin_list td
{
  padding: 3px;
  border-bottom: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

.sf_admin_filters li
{
  list-style-type: none;
}

.sf_admin_row_0 td
{
}

.sf_admin_row_1 td
{
  background-color: #f7f7f7;
}

.sf_admin_edit_help
{
  color: #aaa;
}

.mceEditor td
{
  padding: 0px;
}
