/************************************************
**                Dom                          **
************************************************/
a:link, a:visited, a:active { color : #273635; text-decoration: none; font-weight : bold;}
a:hover { color : #914f53; text-decoration: none; font-weight : bold;}
h1 { font-size : 24px; color : #914f53; font-weight : bold; margin: 0;}
h2 { font-size : 24px; color : #914f53; font-weight : normal; margin: 0;}
h3 { font-size : 18px; color : #2B2B2B; font-weight : normal; line-height: 20pt; margin: 0;}
/************************************************
**                Global                       **
************************************************/
@font-face { font-family: Alexa; src: url('/bundles/ddnetutility/css/AlexaStd.otf'); }
@font-face { font-family: Comfortaa; src: url('/bundles/ddnetutility/css/Comfotraa-Regular.ttf'); }
@font-face { font-family: Nadis; src: url('/bundles/ddnetutility/css/nadis.ttf'); }
@font-face { font-family: Social; src: url('/bundles/ddnetutility/css/Social-Logos.ttf'); }
@font-face { font-family: Picto; src: url('/bundles/ddnetutility/css/modernpics.otf'); }
body { background: #fefffe; /*url(/images/body-bg.png) repeat-x fixed center top;*/ font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
#content { min-width: 920px !important; margin: 0 auto; }
/************************************************
**                Header                       **
************************************************/
header { height: 140px; padding-top: 15px; }

section#logo h1 a { width:240px; height: 100px; margin-top: 34px; margin-left: 41px; padding-right: 0; float: left; color: #914f53; font-family: verdana, arial; font-size: 24pt; font-weight: bold; letter-spacing: -3px; text-align: left; /*text-indent: -9999px; background: url(/images/logo.png) no-repeat top left;*/ text-shadow: #e5e5e5 1px 1px 1px;}
section#logo h1 a span { color: #808775; }
section#logo h1 > span { height: 20px; float: left; margin-left: -14px; margin-top: 10px; padding-top: 40px; padding-left: 0px; color: #808775 !-important; font-weight: normal; letter-spacing: -1px; font-size: 18pt; font-style: italic; font-family: Alexa; text-shadow: #e5e5e5 1px 1px 1px;}

nav ul#nav-links { min-width: 225px; margin-top: 60px; margin-right: 10px; float: right; font-size: 9px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; color: #808775; text-shadow: #000 1px 1px 1px; }
nav ul#nav-links li.nav-link { margin-left: 2px; display: inline-block; }
nav ul#nav-links li.nav-link a { display: block; opacity: 0.5; -webkit-transition: opacity .5s linear; }
nav ul#nav-links li.nav-link a:hover { opacity: 1; -webkit-transition: opacity .5s linear; color: #914f53; }
nav ul#nav-links li.nav-link.active a { border-bottom: 2px solid #914f53; }

/************************************************
**                Content                      **
************************************************/
h2 { color: #914f53; font-weight: bold; font-size: 2em !important; font-variant: small-caps; font-family: Alexa, arial; }
h2 span { position: relative; top: -16px; display: block; text-align: right; width: 50%; font-size: 0.7em !important; color: #efefef;}
h2 span img { height: 0.7 em; }
/************************************************
**                Footer                       **
************************************************/
footer .copyright { letter-spacing: 2px; color: #2B2B2B; font-size: 10px; font-weight: bold; text-transform: uppercase; text-align: center; clear: both; padding-top: 40px; }
footer ul.sitemap-links { max-width: 920px; padding: 35px 15px 35px 30px; font-size: 9px; font-weight: bold; text-transform: uppercase; letter-spacing: 2px; text-align: center; margin: 0 auto; }
footer ul.sitemap-links a { margin: 0 auto; padding: 15px 30px 15px 45px; text-decoration: none; color: #2B2B2B; }
footer ul.sitemap-links a:hover { color: #914f53; }
footer ul.sitemap-links li { color: #2B2B2B; display: inline; }
footer p { width: 300px; float: left; text-indent: -9999px; display: none; }
footer hr { border: 0; color: #914f53; height: 1px; background-color: #914f53; width: 575px; margin: 0 auto; margin-top: 15px; margin-bottom: -10px;}
hr.small { width: 238px !important; }
