.text-input, .select-input {
    -webkit-box-shadow: #D0D0D0 0px 1px 2px;
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 1.16667em;
    padding: 3px 4px 3px;
    display: block;
    font-family: Alexa;
    font-variant: small-caps; 
}
.select-input {
    color: #000000;
}
.radio-input {
    padding: 3px 4px 3px;
    font-size: 1.16667em;
    -webkit-box-shadow: #D0D0D0 0px 1px 2px;
}
.radio-input:after,
.radio-input:before {
    display: block;
}
.radio-input < label {
    display: block;
}

#form-container { max-width: 300px;  }
#form-container fieldset,
#contact-form-container fieldset,
#connect-container fieldset,
#portfolio-container fieldset {

padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
}