/*****************portfolio*********************/
#content .portfolio { clear: both; max-width: 100%; min-width: 920px;  }
.project { width: 265px; position: relative; }
.project div.details { opacity: 0; }
.project:hover div.details { opacity: 1; -webkit-transition: opacity .5s linear; }
.project a { text-decoration: none; }
a.more-info { display: block; }
.project h3 { padding-top: 15px; padding-left: 10px; padding-bottom: 8px; float: left; color: #555; font-weight: bold; font-size: 10px; text-shadow: #fff 1px 1px 1px; text-transform: uppercase; letter-spacing: 2px; }
.project h2 { width: 100%; text-align: right; margin-top: -5px; z-index: 10; color: #efefef; opacity: 0.5; font-size: x-small; }
.status-active { color: #914f53 !important; }
.status-paused { color: #ad9943 !important; }
.status-completed { color: #00bf5f !important; }
.project p { padding-left: 10px; padding-right: 10px; padding-top: 0; clear: both; color: #262626; font: 11px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; text-shadow: #fff 1px 1px 1px; }
a.status { height: 22px; width: 26px; padding: 0; display: none; position: absolute; top: 203px; left: 260px; text-shadow: #fff 1px 1px 1px; text-transform: uppercase; letter-spacing: 2px; color: #999999; font-weight: bold; font-size: 8px; text-indent: -99999px; }
.shadow { height: 215px; position: absolute; top: -16px; left: -18px; bottom: -20; right: -20px; z-index: -5; background: url(/bundles/ddnetutility/images/drop-shadow.png) no-repeat; }
img.project-thumbnail { z-index: 100; }
img.status { z-index: 101; position: absolute; display: inline; top: -6px; right: -18px; }

#filters-wrapper { min-width: 290px;  position: absolute; top: 92px; right: 10px; max-width: 315px; }
#filters-wrapper ul { margin-top: 10px; min-width: 290px; }
ul.filters, ul.filter-sub-menu { color: #914f53; display: block; float: right; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size: 9px; font-weight: bold; height: 12px; letter-spacing: 2px; margin-right: 10px; text-shadow: black 1px 1px 1px; text-transform: uppercase; }
ul.filters li { cursor: pointer; color: #914f53; display: inline-block; float: none; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size: 9px; font-weight: bold; height: 12px; letter-spacing: 2px; margin-left: 2px; text-shadow: black 1px 1px 1px; min-width: 69px; }
ul.filter-sub-menu { margin-top: -10px !important; }
ul#category-sub-menu { display: none; }

li.filter { color: green; display: inline-block; float: none; font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; font-size: 9px; font-weight: bold; height: 12px; letter-spacing: 2px; list-style-image: none; list-style-position: outside; list-style-type: none; margin-bottom: 0px; margin-left: 2px; margin-right: 0px; margin-top: 0px; min-width: 0px; padding-bottom: 0px; padding-left: 4px; padding-right: 4px; padding-top: 4px; text-align: -webkit-auto; text-shadow: black 1px 1px 1px; text-transform: uppercase; width: 69px; }
li.filter a { display: block; opacity: 0.5; -webkit-transition: opacity .5s linear; }
li.filter a:hover { opacity: 1; -webkit-transition: opacity .5s linear; color: #914f53; }
li.filter.active a { opacity: 1; color: #914f53; }
li.filter-label { font-family: Alexa !important; font-style: italic; font-weight: normal !important; text-transform: none; font-size: 12px !important;  }
.msg-box { position: relative; margin: 0 auto; width: 422px; height: 49px; background: transparent url('/bundles/ddnetutility/images/msg-box/info-msg-no-projects-found.png') no-repeat center center; }
#loading { background: url('/bundles/ddnetutility/images/icons/loader.gif') no-repeat center center; position: relative; margin: 0 auto; height: 16px; width: 16px; }

div.form-comment input[type=text] { background: transparent url('/bundles/ddnetutility/images/forms/comment/input-bg.png') no-repeat center center; width: 290px; border: 0; height: 28px; margin-top: 2px; padding-left: 2px;}
div.form-comment textarea { background: transparent url('/bundles/ddnetutility/images/forms/comment/text-area.png') repeat center center; width: 290px; border: 0; }
input.submit { background: transparent url('/bundles/ddnetutility/images/forms/comment/submit-btn.png') no-repeat center center; width: 123px; height: 42px; border: 0;}

td.misc-cell { width: 310px; }
td.details-cell { vertical-align: top; }
.misc-container { margin-top: 4px; }
#social-links { display: block !important; }

li#portfolio-link a { border-bottom: 2px solid #914f53; }

.project-container { float: left; margin: 0 15px; }
@media screen and (max-width: 924px) {
  .project-container:nth-child(2n+1) { clear: left; }
}
@media screen and (min-width: 925px) and (max-width: 1219px) {
  .project-container:nth-child(3n+1) { clear: left; }
}
@media screen and (min-width: 1220px) {
  .project-container:nth-child(4n+1) { clear: left; }
}

.content-container { margin: 0 auto; }
div#right-pane { float: right; max-width: 800px; }